Package: vcam.webrtc
Name: VCamWebRTC
Version: 0.0.1
Architecture: iphoneos-arm
Description: Substitui o feed/frame da camera por um stream WebRTC local.
Maintainer: Axelrod
Author: Axelrod
Section: Tweaks
Depends: mobilesubstrate
